.vscode/
*.iml
*.iws
*.ipr

.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
package-lock.json* 

smart_contracts/artifacts/
smart_contracts/cache/
smart_contracts/coverage/
smart_contracts/coverage.json
smart_contracts/typechain-types/
smart_contracts/ignition/

frontend/dist/
frontend/build/
frontend/.eslintcache

backend/.gradle/
backend/build/
backend/out/
backend/bin/

